In [33]:
import numpy as np

In [34]:
import pandas as pd

In [35]:
import matplotlib.pyplot as plt

In [36]:
import seaborn as sns

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)

In [39]:
df.head(10)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
5,2.0,2.0,40.0,1170.0,2,3418.803419,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,2.0,2.0,65.0,1425.0,3,4561.403509,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,2.0,2.0,43.0,947.0,2,4540.654699,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,2.0,2.0,36.0,1130.0,2,3185.840708,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,2.0,2.0,76.0,1417.0,3,5363.443896,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df.isnull().sum()

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [41]:
df.isnull().sum().sum()

0

In [42]:
x=df.drop("price", axis=1)
x.shape

(7120, 107)

In [43]:
y=df["price"]
y.shape

(7120,)

In [44]:
X_train, X_test, Y_train, Y_test=train_test_split(x, y, test_size=0.3, random_state=51)

In [45]:
X_train

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
2890,3.0,1.0,1832.0,3,6823.144105,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6777,4.0,3.0,4827.0,4,8286.720530,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
771,2.0,0.0,1350.0,3,6148.148148,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,1.0,0.0,440.0,1,6363.636364,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2304,2.0,2.0,1570.0,3,6050.955414,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6672,2.0,1.0,1246.0,2,5457.463884,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1733,2.0,1.0,1010.0,2,5742.574257,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1760,2.0,2.0,1080.0,2,4629.629630,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
485,2.0,2.0,982.0,2,2500.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2105,2.0,1.0,1000.0,2,2888.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
X_cols=X_train.keys()

In [47]:
X_cols

Index(['bath', 'balcony', 'total_sqft_int', 'bhk', 'price_per_sqft',
       'area_typeSuper built-up  Area', 'area_typeBuilt-up  Area',
       'area_typePlot  Area', 'availability_Ready To Move',
       'location_Whitefield',
       ...
       'location_Kalena Agrahara', 'location_Horamavu Agara',
       'location_Vidyaranyapura', 'location_BTM 2nd Stage',
       'location_Hebbal Kempapura', 'location_Hosur Road',
       'location_Horamavu Banaswadi', 'location_Domlur',
       'location_Mahadevpura', 'location_Tumkur Road'],
      dtype='object', length=107)

In [48]:
X_train.shape

(4984, 107)

In [49]:
X_test.shape

(2136, 107)

In [50]:
Y_train.shape

(4984,)

In [51]:
Y_test.shape

(2136,)

In [52]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [53]:
X_train=pd.DataFrame(X_train, columns=X_cols)

In [54]:
X_train

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,0.718630,-0.749098,0.460745,0.660797,0.365143,0.572408,-0.470711,-0.251728,0.509451,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
1,1.877366,1.847704,4.254120,1.871610,0.949616,-1.747007,2.124447,-0.251728,-1.962898,5.508712,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
2,-0.440106,-2.047499,-0.149741,0.660797,0.095586,-1.747007,2.124447,-0.251728,0.509451,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
3,-1.598842,-2.047499,-1.302319,-1.760829,0.181640,0.572408,-0.470711,-0.251728,-1.962898,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
4,-0.440106,0.549303,0.128904,0.660797,0.056773,0.572408,-0.470711,-0.251728,0.509451,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4979,-0.440106,-0.749098,-0.281464,-0.550016,-0.180236,0.572408,-0.470711,-0.251728,0.509451,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
4980,-0.440106,-0.749098,-0.580374,-0.550016,-0.066378,-1.747007,2.124447,-0.251728,0.509451,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
4981,-0.440106,0.549303,-0.491715,-0.550016,-0.510828,0.572408,-0.470711,-0.251728,0.509451,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
4982,-0.440106,0.549303,-0.615838,-0.550016,-1.361287,0.572408,-0.470711,-0.251728,-1.962898,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943
4983,-0.440106,-0.749098,-0.593040,-0.550016,-1.206341,0.572408,-0.470711,-0.251728,-1.962898,-0.181531,...,-0.054943,-0.044838,-0.054943,-0.051139,-0.053074,-0.053074,-0.054943,-0.05675,-0.060205,-0.054943

In [55]:
X_train.describe().round(2)

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
count,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,...,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00,4984.00
mean,0.00,0.00,0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00,0.00,...,0.00,-0.00,0.00,0.00,-0.00,-0.00,0.00,-0.00,0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.60,-2.05,-1.42,-1.76,-1.52,-1.75,-0.47,-0.25,-1.96,-0.18,...,-0.05,-0.04,-0.05,-0.05,-0.05,-0.05,-0.05,-0.06,-0.06,-0.05
25%,-0.44,-0.75,-0.47,-0.55,-0.60,0.57,-0.47,-0.25,0.51,-0.18,...,-0.05,-0.04,-0.05,-0.05,-0.05,-0.05,-0.05,-0.06,-0.06,-0.05
50%,-0.44,0.55,-0.28,-0.55,-0.20,0.57,-0.47,-0.25,0.51,-0.18,...,-0.05,-0.04,-0.05,-0.05,-0.05,-0.05,-0.05,-0.06,-0.06,-0.05
75%,0.72,0.55,0.21,0.66,0.27,0.57,-0.47,-0.25,0.51,-0.18,...,-0.05,-0.04,-0.05,-0.05,-0.05,-0.05,-0.05,-0.06,-0.06,-0.05
max,7.67,1.85,15.87,7.93,11.62,0.57,2.12,3.97,0.51,5.51,...,18.20,22.30,18.20,19.55,18.84,18.84,18.20,17.62,16.61,18.20

In [56]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [57]:
lr.fit(X_train, Y_train)

LinearRegression()

In [58]:
lr.coef_

array([-4.88304646e+00, -1.43040097e+00,  8.55126824e+01, -1.60394635e+01,
        5.76820052e+01,  2.28631794e-01, -1.93404594e+00, -4.46518138e+00,
       -2.51317990e+00, -4.47799652e+00, -2.45169738e+00,  5.70356197e-01,
       -1.07211688e+00,  1.56740455e+00,  6.83696669e-03, -1.54678667e+00,
       -5.94765523e-02,  2.32802026e+00, -1.50771440e+00,  1.89638073e+00,
       -3.30384481e+00, -1.30759470e+00, -9.49980604e-01, -1.17854356e-01,
        1.10782891e+00,  1.29968102e+00, -3.55530464e+00, -1.40421033e+00,
       -4.08047349e-01,  1.54728574e+00, -4.16562589e-01, -1.36393616e-01,
        7.78731709e-01, -1.35273506e+00,  3.17112309e-02, -1.52387663e+00,
        4.05394857e-01,  8.47374351e-01,  3.15748162e+00, -7.69005961e-03,
        1.26409325e-01,  2.59385798e-01, -3.73413968e-01,  1.18454294e+00,
       -1.50449224e+00, -3.43095568e+00, -2.74701332e-02, -7.43867003e-02,
       -8.44815634e-01, -1.18983401e+00, -9.42078883e-01,  4.61660052e-01,
        9.69693794e-01, -8.35902250e-01, -1.07509942e+00,  1.14327741e+00,
        2.25483063e+00, -5.20471444e-01, -1.42039137e+00, -7.56244023e-01,
        1.28216694e+00, -1.38004437e-01,  7.69267281e-02, -6.55593797e-02,
       -2.04501399e+00,  1.54591123e+00, -1.00809665e+00, -9.44606814e-01,
       -7.49951669e-01, -1.02819875e-02, -6.44513773e-01, -1.93631628e-01,
       -1.87236358e+00, -1.14476175e+00,  6.03687661e-01,  1.51511937e+00,
       -1.30977917e+00,  3.26905216e-01, -7.13120709e-01, -2.28616137e+00,
        1.76920834e-01, -7.30005030e-03,  1.26967616e-01,  3.03194501e+00,
        2.03143616e+00, -8.09372408e-01, -4.01263577e-01,  2.44878918e+00,
       -9.35212264e-02, -1.79711872e-02,  1.18087291e-02,  1.71900654e+00,
        9.15937836e-01, -1.19222500e+00,  3.63432030e-01, -8.14945721e-01,
        1.71969114e+00,  4.99397309e-01,  8.30774007e-01,  5.23810045e-01,
       -2.92037742e-01, -1.38804651e+00, -7.46194112e-01,  5.95976777e-01,
       -1.84928823e+00,  2.65054034e-01, -3.56413676e-01])

In [59]:
lr.intercept_

95.16795846709468

# Predict the value of Home and Test

In [60]:
X_test[0,:]

array([ 0.71863018,  0.00965623,  0.29355819,  0.66079676, -0.48037699,
       -1.74700673,  2.12444683, -0.25172755,  0.50945074, -0.18153063,
       -0.16365218, -0.14882642, -0.13250731, -0.13093073, -0.12772319,
       -0.12526719, -0.13172122, -0.12526719, -0.11761116, -0.11584511,
       -0.11038666, -0.1094518 , -0.10268101, -0.10660036, -0.09328822,
       -0.08287754, -0.08994785, -0.08994785, -0.08648283, -0.09107446,
       -0.08529752, -0.07911279, -0.08529752, -0.07241581, -0.07781846,
       -0.07781846, -0.0751646 , -0.08164141, -0.0751646 , -0.07380273,
       -0.07241581, -0.07650277, -0.07380273, -0.08164141, -0.07911279,
       -0.08409599, -0.06658601, -0.07650277, -0.07100239, -0.07380273,
       -0.07100239, -0.06956083, -0.0751646 , -0.07100239, -0.06347447,
       -0.06020505, -0.06347447, -0.06347447, -0.06504853, -0.05494284,
       -0.0585029 , -0.06658601, -0.06808937, -0.06186103, -0.06808937,
       -0.06020505, -0.06347447, -0.06658601, -0.06186103, -0.06020505,
       -0.0585029 , -0.0585029 , -0.06186103, -0.05307449, -0.06186103,
       -0.06186103, -0.06186103, -0.06020505, -0.05494284, -0.06186103,
       -0.05494284, -0.06186103, -0.06347447, -0.0585029 , -0.06020505,
       -0.06186103, -0.06186103, -0.0585029 , -0.06186103, -0.06020505,
       -0.06186103, -0.06347447, -0.05307449, -0.05494284, -0.0585029 ,
       -0.05494284, -0.05675044, -0.05494284, -0.04483809, -0.05494284,
       -0.05113871, -0.05307449, -0.05307449, -0.05494284, -0.05675044,
       -0.06020505, -0.05494284])

In [61]:
lr.predict([X_test[0, :]])

array([75.87705017])

In [66]:
y_pred=lr.predict(X_test)
y_pred

array([ 75.87705017,  12.87613424, 113.79758743, ..., 139.67952741,
        56.1138439 ,  68.28262617])

In [63]:
Y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
5297     53.87
1308     37.20
5411    129.00
4701     67.00
6366     60.00
Name: price, Length: 2136, dtype: float64

In [71]:
lr.score(X_test, Y_test)

0.8068382834771934

# Here, I check the error value by using Mean Square Error(MSE)

In [67]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(Y_test, y_pred)

In [68]:
mse

3103.5725035767596

In [69]:
rmse=np.sqrt(mse)

In [70]:
rmse

55.709716419819976